.StateSelector {
    z-index: 1; 
    background: white; 
    border-radius: 16px;
    margin: 8px;
    padding: 16px;
    position: absolute;
    left: 0;
    width: 25%;
    display: inline-block;
}
.z-index {
    z-index: 2;
    position: absolute;
    margin-left: 200px;
}